.App {
  text-align: center;
}
.Highlighted {
  color: orange;
  background: lightslategrey;
}
.col-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.selectedIds {
  color: white;
  background: black;
  word-wrap: break-word;
  float: none;
  margin: 0 auto;
}

.testClass {
  background: green;
}
